# ignore everything, so we can make a whitelist 
*

# include miscellaneous files:
!.gitignore
!*.txt

# include source files for:

# C
!*.c
!*.h

# Haskell
!*.hs

# Java
!Java/src/main/java/*
!Java/src/test/test/*
!*.java

# Prolog
!*.pl

# Python
!*.py

# Racket
!*.rkt


